<h2>Selecciona una comarca</h2>

<!-- El selector de comarcas -->
<select #selector (change)="selectRegion(selector.value)">
    <option value="">-- Selecciona --</option>

    <!-- Opciones de comarcas -->
    @for (region of regions; track region) {
    <option [value]="region">
        {{ region }}
    </option>
    }
</select>

<!-- Si no se ha seleccionado una comarca, muestra un mensaje -->
@if (!selectedRegion) {
<p>Selecciona una comarca</p>
}

<!-- Separador -->
<hr>

<h2>Llistat de fires</h2>

<ul>
    <!-- Opciones de ferias filtradas -->
    @for (fair of filteredFairs; track fair.activityId) {
    <li>
        <strong>{{ fair.activityName }}</strong> - {{ fair.municipalityName }}

        <!-- Botón para añadir o quitar de favoritos -->
        <button (click)="toggleFavorite(fair)">
            <!-- Si la feria está en favoritos -->
            @if (isFavorite(fair)) {
                <!-- Botón para quitar de favoritos -->
                Quitar de favoritos
            <!-- Si la feria no está en favoritos -->
            } @else {
                <!-- Botón para añadir a favoritos -->
                Añadir a favoritos
            }
        </button>
    </li>
    }
</ul>