<h2>Selecciona una comarca</h2>

<!-- El selector de comarcas -->
<select #selector (change)="selectRegion(selector.value)">
    <option value="">-- Selecciona --</option>

    <!-- Opciones de comarcas -->
    @for (region of regions; track region) {
    <option [value]="region">
        {{ region }}
    </option>
    }
</select>

<!-- Si no se ha seleccionado una comarca, muestra un mensaje -->
@if (!selectedRegion) {
<p>Selecciona una comarca</p>
}

<!-- Separador -->
<hr>

<h2>Llistat de fires</h2>

<!-- Lista de tarjetas de ferias -->
@for (fair of filteredFairs; track fair.activityId) {
<app-fair-card
    [fair]="fair"
    [isFavorite]="isFavorite(fair)"
    (favoriteClicked)="toggleFavorite(fair)">
</app-fair-card>
}