<div class="card">
    <!-- Contenido principal de la tarjeta -->
    <div class="card-body">
        <h3>{{ fair.activityName }}</h3>

        <!-- Información adicional dentro de la tarjeta -->
        <p><strong>Municipi:</strong> {{ fair.municipalityName }}</p>
        <p><strong>Comarca:</strong> {{ fair.regionName }}</p>
        <p><strong>Data:</strong> {{ fair.date }}</p>
        <p><strong>Lloc:</strong> {{ fair.location }}</p>
    </div>

    <!-- Acciones de la tarjeta -->
    <div class="card-actions">
        <!-- Botón para agregar o quitar de favoritos -->
        <button (click)="favoriteClicked.emit()">
            <!-- En el caos de que este en favoritos -->
            @if (isFavorite) {
            <!-- que pueda quitar de favoritos -->
            Quitar de favoritos
            }
            <!-- En el caso de que no esté en favoritos -->
            @else {
            <!-- que pueda agregar a favoritos -->
            Afegir a favorits
            }
        </button>

        <!-- Botón para ver detalles -->
        <a class="details-button" [routerLink]="['/fair', fair.activityId]">
            Veure detalls
        </a>
    </div>
</div>